{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": "last 2 Firefox versions"
      }
    ]
  ],
  "plugins": [["@babel/plugin-transform-react-jsx", { "pragma": "h" }]]
}
