// If you are looking for specific component styling - check .scss files in /src/components.

// Global variables.
:root {
  --background-base: #121212;
  --text-base: #fff;
  --text-gray: #b3b3b3;
  --essential-positive: #1ed760;
  --essential-subdued: #727272;
  --online-badge: #2e77d0;
}
